.toggleWrapper {
	margin-right: 5rem;
	input {
		position: absolute;
		left: -99em;
	}
}

.toggle {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 40px;
	height: 25px;
	border-radius: 5px;
	background-color: #eaeaea;
	transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	font-family: 'Montserrat', sans-serif;
	&:before {
		content: 'Fractional';
		position: absolute;
		left: -87px;
		top: 4px;
		font-size: 1rem;
	}

	&:after {
		content: 'Decimal';
		position: absolute;
		right: -75px;
		top: 4px;
		font-size: 1rem;
		color: #749ed7;
	}
}

.toggle__handler {
	display: inline-block;
	position: relative;
	border-radius: 5px;
	z-index: 1;
	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	background-color: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:checked {
	+ .toggle {
		background-color: #172f65;

		&:before {
			color: #749ed7;
		}

		&:after {
			color: black;
		}

		.toggle__handler {
			background-color: white;
			transform: translate3d(20px, 0, 0) rotate(0);
		}
	}
}
