.live-score-item {
	width: 100%;
	background: #ffffff;
	margin: auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	border-bottom: solid 1px #ebebeb;
	cursor: pointer;
	transition: all 0.4s ease;

	&:hover {
		background: #f0eeee;
		transition: ease-in-out;
	}

	&__link {
		color: inherit;
		text-decoration: inherit;
	}

	&--expanded {
		transition: all 0.4s ease;
	}

	@media only screen and (min-width: 480px) {
		padding: 0.5rem 0 0.5rem 0;
	}
}

.live-score-competitors {
	display: table;
	width: 100%;
	margin-bottom: 4px;
	text-align: center;
}

.live-score-team__name {
	display: inline-block;
	font-weight: normal;
	margin: auto;
	&--a {
		text-align: right;
		padding-left: 10px;
		width: 25%;
	}
	&--b {
		text-align: left;
		padding-left: 10px;
		width: 35%;
	}
}

.live-score-result {
	display: inline-block;
	width: 15%;
}

.live-score-market {
	position: absolute;
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
}

.primary-market {
	text-align: left;
	position: relative;
	top: 5px;
}
