.page-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
@media (min-width: 768px) {
	.page-container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.page-container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.page-container {
		width: 1170px;
	}
}
