.market-container {
	border: solid 1px #eeeeee;
	background: #ffffff;
}

.market-item {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	padding: 1rem 0 0 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	min-height: 5vh;
	font-weight: normal;
	outline: none;

	&__active {
		height: 20vh;
	}

	&__details {
		margin-bottom: 1rem;
	}

	&__content {
		padding: 0 3rem 0 3rem;
	}

	&__chevron {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 15px;
	}
}
