.live-score-header {
	height: 40vh;
	background: url('../../assets/football.jpg');
	background-size: cover;
	background-position-y: 40%;
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;

	&__content {
		color: #ffffff;
		font-size: 1rem;
		text-align: center;
		margin: 0 auto;
		display: flex;
		align-items: center;

		@media only screen and (min-width: 480px) {
			font-size: 2.5rem;
		}
	}
}

.live-score__result {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 3rem;
	padding-left: 3rem;
}
