.header {
	height: 30vh;
	background-image: linear-gradient(to right, #122e67, #d71726);
	padding: 0 1rem 0 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@media only screen and (min-width: 480px) {
		height: 25vh;
		padding: 0 5rem 0 5rem;
	}
	&__title {
		margin: 0;
	}
	&__subtitle {
		font-weight: 300;
		font-size: 1rem;
	}
}
