*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

p {
	font-size: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: normal;
}
